@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. 1600px
2. 1440px
3. 1280px
4. 1199px
5. 1024px
6. 991px
7. 959px
8. 880px
9. 768px
10. 767px
11. 539px
12. 479px
13. 400px

******************************/

/************
1. 1600px
************/

@media only screen and (max-width: 1600px)
{
	.main_nav
	{
		margin-left: 75px;
	}
	.main_nav > ul > li:not(:last-of-type)
	{
		margin-right: 32px;
	}
	.header .social
	{
		margin-right: 41px;
	}
	.log_reg
	{
		margin-right: 43px;
	}
	.contact_content
	{
		padding-right: 103px;
	}
}

/************
2. 1440px
************/

@media only screen and (max-width: 1440px)
{
	.header .social
	{
		display: none;
	}
}

/************
3. 1380px
************/

@media only screen and (max-width: 1380px)
{
	
}

/************
3. 1280px
************/

@media only screen and (max-width: 1280px)
{
	
}

/************
4. 1199px
************/

@media only screen and (max-width: 1199px)
{
	.header_content
	{
		padding-left: 30px;
	}
	.main_nav
	{
		margin-left: 45px;
	}
	.header_link
	{
		display: none;
	}
	.container_wrapper > .container
	{
		max-width: 960px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.container_wrapper > .container > .row
	{
		margin-left: -15px;
		margin-right: -15px;
	}
	.container_wrapper > .container > .row > div[class^='col']
	{
		padding-left: 15px;
		padding-right: 15px;
	}
	.contact_map_container
	{
		padding-right: 0;
		padding-bottom: 103px;
	}
	.contact_content
	{
		padding-left: 0;
		padding-right: 0;
	}
}

/************
4. 1100px
************/

@media only screen and (max-width: 1100px)
{
	
}

/************
5. 1024px
************/

@media only screen and (max-width: 1024px)
{
	
}

/************
6. 991px
************/

@media only screen and (max-width: 991px)
{
	.main_nav
	{
		display: none;
	}
	.header_content
	{
		padding-right: 30px;
	}
	.hamburger
	{
		display: block;
	}
	.container_wrapper > .container
	{
		max-width: 720px;
	}
	.home_title h1
	{
		font-size: 72px;
	}
	.container_wrapper > .container
	{
		max-width: 720px;
	}
	.footer_column
	{
		padding-top: 0;
	}
	.footer_col:not(:last-child)
	{
		margin-bottom: 80px;
	}
}

/************
7. 959px
************/

@media only screen and (max-width: 959px)
{
	
}

/************
8. 880px
************/

@media only screen and (max-width: 880px)
{
	
}

/************
9. 768px
************/

@media only screen and (max-width: 768px)
{
	
}

/************
10. 767px
************/

@media only screen and (max-width: 767px)
{
	h1
	{
		font-size: 48px;
	}
	.container_wrapper > .container
	{
		max-width: 540px;
	}
	.home_title h1
	{
		font-size: 56px;
	}
	.container_wrapper > .container
	{
		max-width: 540px;
	}
	.contact_form > div > div
	{
		width: 100%;
	}
}

/************
11. 575px
************/

@media only screen and (max-width: 575px)
{
	h1
	{
		font-size: 36px;
	}
	h3
	{
		font-size: 24px;
	}
	p
	{
		font-size: 14px;
	}
	.header_content
	{
		height: 75px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.header.scrolled .header_content
	{
		height: 75px;
	}
	.logo a > span
	{
		font-size: 24px;
	}
	.logo a > span:last-of-type
	{
		font-size: 8px;
		margin-left: 3px;
	}
	.log_reg ul li a
	{
		font-size: 14px;
	}
	.log_reg ul li:not(:last-of-type)::after
	{
		font-size: 14px;
	}
	.log_reg
	{
		margin-right: 30px;
	}
	.button
	{
		width: 180px;
		height: 53px;
	}
	.button a
	{
		font-size: 12px;
		line-height: 53px;
	}
	.container_wrapper > .container
	{
		max-width: 100%;
	}
	.home
	{
		height: 385px;
	}
	.home_title h1
	{
		font-size: 48px;
	}
	.container_wrapper > .container
	{
		max-width: 100%;
	}
	.contact_title
	{
		font-size: 24px;
	}
	.google_map
	{
		height: 400px;
		min-height: auto;
	}
	.cta_text p
	{
		font-size: 16px;
	}
}

/************
11. 539px
************/

@media only screen and (max-width: 539px)
{
	
}

/************
12. 480px
************/

@media only screen and (max-width: 480px)
{
	
}

/************
13. 479px
************/

@media only screen and (max-width: 479px)
{
	
}

/************
14. 400px
************/

@media only screen and (max-width: 400px)
{
	
}