{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Schedule</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Confpro template project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap-4.1.2/bootstrap.min.css' %}">
<link href="{% static 'plugins/font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'plugins/colorbox/colorbox.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{% static 'styles/schedule.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/schedule_responsive.css' %}">
</head>
<body>

<div class="super_container">
	
	<!-- Header -->

	<header class="header">
		<div class="header_content d-flex flex-row align-items-center justify-content-start">
			
			<!-- Logo -->
			<div class="logo">
				<a href="#">
					<span>conf<span>pro</span></span>
					<span>conference</span>
				</a>
			</div>

			<!-- Main Navigation -->
			<nav class="main_nav">
				<ul class="d-flex flex-row align-items-center justify-content-start">
					<li><a href="/index/">Home</a></li>
					<li class="has_children">
						<a href="/about/">About us</a>
						<ul>
							<li><a href="#">Nav Item</a></li>
							<li class="has_children">
								<a href="#">Nav Item</a>
								<ul>
									<li><a href="#">Nav Item</a></li>
									<li><a href="#">Nav Item</a></li>
									<li><a href="#">Nav Item</a></li>
								</ul>
							</li>
							<li><a href="#">Nav Item</a></li>
							<li><a href="#">Nav Item</a></li>
							<li><a href="#">Nav Item</a></li>
						</ul>
					</li>
					<li class="has_children active">
						<a href="/schedule/">Schedule</a>
						<ul>
							<li><a href="#">Nav Item</a></li>
							<li class="has_children">
								<a href="#">Nav Item</a>
								<ul>
									<li><a href="#">Nav Item</a></li>
									<li><a href="#">Nav Item</a></li>
									<li><a href="#">Nav Item</a></li>
								</ul>
							</li>
							<li><a href="#">Nav Item</a></li>
							<li><a href="#">Nav Item</a></li>
							<li><a href="#">Nav Item</a></li>
						</ul>
					</li>
					<li><a href="/blog/">News</a></li>
					<li><a href="/contact/">Contact</a></li>
				</ul>
			</nav>

			<div class="header_right ml-auto d-flex flex-row align-items-center justify-content-start">
				<div class="log_reg">
					<ul class="d-flex flex-row align-items-start justify-content-start">
						<li><a href="#">Login</a></li>
						<li><a href="#">Register</a></li>
					</ul>
				</div>
				<div class="social">
					<ul class="d-flex flex-row align-items-center justify-content-start">
						<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
					</ul>
				</div>
				<div class="header_link">
					<a href="#">
						<span>get tickets<img src="{% static 'images/arrow.png' %}" alt=""></span>
					</a>
				</div>
				<div class="hamburger"><i class="fa fa-bars" aria-hidden="true"></i></div>
			</div>
		</div>
	</header>

	<!-- Menu -->

	<div class="menu">
		<div class="menu_container">
			<div class="menu_close"><i class="fa fa-times" aria-hidden="true"></i></div>
			<div class="menu_content d-flex flex-column align-items-center justify-content-start">
				<nav class="menu_nav">
					<ul class="d-flex flex-column align-items-center justify-content-start">
						<li><a href="#">Home</a></li>
						<li><a href="/about/">About us</a></li>
						<li><a href="/schedule/">Schedule</a></li>
						<li><a href="/blog/">News</a></li>
						<li><a href="/contact/">Contact</a></li>
					</ul>
				</nav>
			</div>
			<div class="menu_social">
				<div class="social">
					<ul class="d-flex flex-row align-items-center justify-content-start">
						<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<!-- Home -->

	<div class="home">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{% static 'images/schedule_page.jpg' %}" data-speed="0.8"></div>
		<div class="home_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_content">
							<div class="home_title"><h1>Schedule</h1></div>
							<div class="breadcrumbs">
								<ul class="d-flex flex-row align-items-center justify-content-start">
									<li><a href="index.html">Home</a></li>
									<li>Schedule</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Schedule -->

	<div class="schedule">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="schedule_container">

						<!-- Tabs -->
						<div class="tabs d-flex flex-row align-items-start justify-content-start flex-wrap">
							<div class="tab active d-flex flex-row align-items-center justify-content-center">
								<div>Day 1. <span>February 12, 2019</span></div>
							</div>
							<div class="tab active d-flex flex-row align-items-center justify-content-center">
								<div>Day 2. <span>February 13, 2019</span></div>
							</div>
							<div class="tab active d-flex flex-row align-items-center justify-content-center">
								<div>Day 3. <span>February 14, 2019</span></div>
							</div>
							<div class="tab active d-flex flex-row align-items-center justify-content-center">
								<div>Day 4. <span>February 15, 2019</span></div>
							</div>
						</div>

						<!-- Panels -->
						<div class="tab_panels">

							<!-- Panel 1 -->
							<div class="tab_panel active">

								<!-- Schedule Item -->
								<div class="schedule_item">
									<div class="schedule_title_bar d-flex flex-lg-row flex-column align-items-lg-end justify-content-start">
										<div class="schedule_title_container d-flex flex-row align-items-end justify-content-start">
											<div class="schedule_image"><img src="{% static 'images/schedule_1.jpg' %}" alt=""></div>
											<div class="schedule_content">
												<div class="schedule_time">08:00 AM - 09:00 AM</div>
												<div class="schedule_title">Grand Opening</div>
												<div class="schedule_info">Host: <a href="#">Michael Smith</a> - Marketing ING CEO</div>
											</div>
										</div>
										<div class="button button_2 ml-lg-auto schedule_button"><a href="#"><span>get tickets</span><img src="images/arrow.png" alt=""></a></div>
									</div>
									<div class="schedule_text">
										<div class="schedule_text_title">Short Description</div>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravi da. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus co mmodo viverra maecenas accumsan lacus vel facilisis.</p>
									</div>
								</div>

								<!-- Schedule Item -->
								<div class="schedule_item">
									<div class="schedule_title_bar d-flex flex-lg-row flex-column align-items-lg-end justify-content-start">
										<div class="schedule_title_container d-flex flex-row align-items-end justify-content-start">
											<div class="schedule_image"><img src="{% static 'images/schedule_2.jpg' %}" alt=""></div>
											<div class="schedule_content">
												<div class="schedule_time">09:00 AM - 10:00 AM</div>
												<div class="schedule_title">Marketing 101</div>
												<div class="schedule_info">Host: <a href="#">Michael Smith</a> - Marketing ING CEO</div>
											</div>
										</div>
										<div class="button button_2 ml-lg-auto schedule_button"><a href="#"><span>get tickets</span><img src="images/arrow.png" alt=""></a></div>
									</div>
									<div class="schedule_text">
										<div class="schedule_text_title">Short Description</div>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravi da. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus co mmodo viverra maecenas accumsan lacus vel facilisis.</p>
									</div>
								</div>

								<!-- Schedule Item -->
								<div class="schedule_item">
									<div class="schedule_title_bar d-flex flex-lg-row flex-column align-items-lg-end justify-content-start">
										<div class="schedule_title_container d-flex flex-row align-items-end justify-content-start">
											<div class="schedule_image"><img src="{% static 'images/schedule_3.jpg' %}" alt=""></div>
											<div class="schedule_content">
												<div class="schedule_time">10:00 AM - 11:00 AM</div>
												<div class="schedule_title">Big Marketing Strategy</div>
												<div class="schedule_info">Host: <a href="#">Michael Smith</a> - Marketing ING CEO</div>
											</div>
										</div>
										<div class="button button_2 ml-lg-auto schedule_button"><a href="#"><span>get tickets</span><img src="images/arrow.png" alt=""></a></div>
									</div>
									<div class="schedule_text">
										<div class="schedule_text_title">Short Description</div>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravi da. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus co mmodo viverra maecenas accumsan lacus vel facilisis.</p>
									</div>
								</div>

								<!-- Schedule Item -->
								<div class="schedule_item">
									<div class="schedule_title_bar d-flex flex-lg-row flex-column align-items-lg-end justify-content-start">
										<div class="schedule_title_container d-flex flex-row align-items-end justify-content-start">
											<div class="schedule_image"><img src="{% static 'images/schedule_4.jpg' %}" alt=""></div>
											<div class="schedule_content">
												<div class="schedule_time">11:00 AM - 12:00 AM</div>
												<div class="schedule_title">Coffee Break</div>
											</div>
										</div>
										<div class="button button_2 ml-lg-auto schedule_button"><a href="#"><span>get tickets</span><img src="images/arrow.png" alt=""></a></div>
									</div>
									<div class="schedule_text">
										<div class="schedule_text_title">Short Description</div>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravi da. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus co mmodo viverra maecenas accumsan lacus vel facilisis.</p>
									</div>
								</div>

								<!-- Schedule Item -->
								<div class="schedule_item">
									<div class="schedule_title_bar d-flex flex-lg-row flex-column align-items-lg-end justify-content-start">
										<div class="schedule_title_container d-flex flex-row align-items-end justify-content-start">
											<div class="schedule_image"><img src="{% static 'images/schedule_5.jpg' %}" alt=""></div>
											<div class="schedule_content">
												<div class="schedule_time">12:00 AM - 13:00 AM</div>
												<div class="schedule_title">Online Strategy</div>
												<div class="schedule_info">Host: <a href="#">Michael Smith</a> - Marketing ING CEO</div>
											</div>
										</div>
										<div class="button button_2 ml-lg-auto schedule_button"><a href="#"><span>get tickets</span><img src="images/arrow.png" alt=""></a></div>
									</div>
									<div class="schedule_text">
										<div class="schedule_text_title">Short Description</div>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravi da. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus co mmodo viverra maecenas accumsan lacus vel facilisis.</p>
									</div>
								</div>

							</div>

							<!-- Panel 2 -->
							<div class="tab_panel">
								
								<!-- Schedule Item -->
								<div class="schedule_item">
									<div class="schedule_title_bar d-flex flex-lg-row flex-column align-items-lg-end justify-content-start">
										<div class="schedule_title_container d-flex flex-row align-items-end justify-content-start">
											<div class="schedule_image"><img src="{% static 'images/schedule_1.jpg' %}" alt=""></div>
											<div class="schedule_content">
												<div class="schedule_time">08:00 AM - 09:00 AM</div>
												<div class="schedule_title">Grand Opening</div>
												<div class="schedule_info">Host: <a href="#">Michael Smith</a> - Marketing ING CEO</div>
											</div>
										</div>
										<div class="button button_2 ml-lg-auto schedule_button"><a href="#"><span>get tickets</span><img src="images/arrow.png" alt=""></a></div>
									</div>
									<div class="schedule_text">
										<div class="schedule_text_title">Short Description</div>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravi da. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus co mmodo viverra maecenas accumsan lacus vel facilisis.</p>
									</div>
								</div>

								<!-- Schedule Item -->
								<div class="schedule_item">
									<div class="schedule_title_bar d-flex flex-lg-row flex-column align-items-lg-end justify-content-start">
										<div class="schedule_title_container d-flex flex-row align-items-end justify-content-start">
											<div class="schedule_image"><img src="{% static 'images/schedule_2.jpg' %}" alt=""></div>
											<div class="schedule_content">
												<div class="schedule_time">09:00 AM - 10:00 AM</div>
												<div class="schedule_title">Marketing 101</div>
												<div class="schedule_info">Host: <a href="#">Michael Smith</a> - Marketing ING CEO</div>
											</div>
										</div>
										<div class="button button_2 ml-lg-auto schedule_button"><a href="#"><span>get tickets</span><img src="images/arrow.png" alt=""></a></div>
									</div>
									<div class="schedule_text">
										<div class="schedule_text_title">Short Description</div>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravi da. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus co mmodo viverra maecenas accumsan lacus vel facilisis.</p>
									</div>
								</div>

								<!-- Schedule Item -->
								<div class="schedule_item">
									<div class="schedule_title_bar d-flex flex-lg-row flex-column align-items-lg-end justify-content-start">
										<div class="schedule_title_container d-flex flex-row align-items-end justify-content-start">
											<div class="schedule_image"><img src="{% static 'images/schedule_3.jpg' %}" alt=""></div>
											<div class="schedule_content">
												<div class="schedule_time">10:00 AM - 11:00 AM</div>
												<div class="schedule_title">Big Marketing Strategy</div>
												<div class="schedule_info">Host: <a href="#">Michael Smith</a> - Marketing ING CEO</div>
											</div>
										</div>
										<div class="button button_2 ml-lg-auto schedule_button"><a href="#"><span>get tickets</span><img src="images/arrow.png" alt=""></a></div>
									</div>
									<div class="schedule_text">
										<div class="schedule_text_title">Short Description</div>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravi da. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus co mmodo viverra maecenas accumsan lacus vel facilisis.</p>
									</div>
								</div>

							</div>

							<!-- Panel 3 -->
							<div class="tab_panel">
								
								<!-- Schedule Item -->
								<div class="schedule_item">
									<div class="schedule_title_bar d-flex flex-lg-row flex-column align-items-lg-end justify-content-start">
										<div class="schedule_title_container d-flex flex-row align-items-end justify-content-start">
											<div class="schedule_image"><img src="{% static 'images/schedule_1.jpg' %}" alt=""></div>
											<div class="schedule_content">
												<div class="schedule_time">08:00 AM - 09:00 AM</div>
												<div class="schedule_title">Grand Opening</div>
												<div class="schedule_info">Host: <a href="#">Michael Smith</a> - Marketing ING CEO</div>
											</div>
										</div>
										<div class="button button_2 ml-lg-auto schedule_button"><a href="#"><span>get tickets</span><img src="images/arrow.png" alt=""></a></div>
									</div>
									<div class="schedule_text">
										<div class="schedule_text_title">Short Description</div>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravi da. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus co mmodo viverra maecenas accumsan lacus vel facilisis.</p>
									</div>
								</div>

								<!-- Schedule Item -->
								<div class="schedule_item">
									<div class="schedule_title_bar d-flex flex-lg-row flex-column align-items-lg-end justify-content-start">
										<div class="schedule_title_container d-flex flex-row align-items-end justify-content-start">
											<div class="schedule_image"><img src="{% static 'images/schedule_2.jpg' %}" alt=""></div>
											<div class="schedule_content">
												<div class="schedule_time">09:00 AM - 10:00 AM</div>
												<div class="schedule_title">Marketing 101</div>
												<div class="schedule_info">Host: <a href="#">Michael Smith</a> - Marketing ING CEO</div>
											</div>
										</div>
										<div class="button button_2 ml-lg-auto schedule_button"><a href="#"><span>get tickets</span><img src="images/arrow.png" alt=""></a></div>
									</div>
									<div class="schedule_text">
										<div class="schedule_text_title">Short Description</div>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravi da. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus co mmodo viverra maecenas accumsan lacus vel facilisis.</p>
									</div>
								</div>

								<!-- Schedule Item -->
								<div class="schedule_item">
									<div class="schedule_title_bar d-flex flex-lg-row flex-column align-items-lg-end justify-content-start">
										<div class="schedule_title_container d-flex flex-row align-items-end justify-content-start">
											<div class="schedule_image"><img src="{% static 'images/schedule_3.jpg' %}" alt=""></div>
											<div class="schedule_content">
												<div class="schedule_time">10:00 AM - 11:00 AM</div>
												<div class="schedule_title">Big Marketing Strategy</div>
												<div class="schedule_info">Host: <a href="#">Michael Smith</a> - Marketing ING CEO</div>
											</div>
										</div>
										<div class="button button_2 ml-lg-auto schedule_button"><a href="#"><span>get tickets</span><img src="images/arrow.png" alt=""></a></div>
									</div>
									<div class="schedule_text">
										<div class="schedule_text_title">Short Description</div>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravi da. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus co mmodo viverra maecenas accumsan lacus vel facilisis.</p>
									</div>
								</div>

								<!-- Schedule Item -->
								<div class="schedule_item">
									<div class="schedule_title_bar d-flex flex-lg-row flex-column align-items-lg-end justify-content-start">
										<div class="schedule_title_container d-flex flex-row align-items-end justify-content-start">
											<div class="schedule_image"><img src="{% static 'images/schedule_4.jpg' %}" alt=""></div>
											<div class="schedule_content">
												<div class="schedule_time">11:00 AM - 12:00 AM</div>
												<div class="schedule_title">Coffee Break</div>
											</div>
										</div>
										<div class="button button_2 ml-lg-auto schedule_button"><a href="#"><span>get tickets</span><img src="images/arrow.png" alt=""></a></div>
									</div>
									<div class="schedule_text">
										<div class="schedule_text_title">Short Description</div>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravi da. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus co mmodo viverra maecenas accumsan lacus vel facilisis.</p>
									</div>
								</div>

								<!-- Schedule Item -->
								<div class="schedule_item">
									<div class="schedule_title_bar d-flex flex-lg-row flex-column align-items-lg-end justify-content-start">
										<div class="schedule_title_container d-flex flex-row align-items-end justify-content-start">
											<div class="schedule_image"><img src="{% static 'images/schedule_5.jpg' %}" alt=""></div>
											<div class="schedule_content">
												<div class="schedule_time">12:00 AM - 13:00 AM</div>
												<div class="schedule_title">Online Strategy</div>
												<div class="schedule_info">Host: <a href="#">Michael Smith</a> - Marketing ING CEO</div>
											</div>
										</div>
										<div class="button button_2 ml-lg-auto schedule_button"><a href="#"><span>get tickets</span><img src="images/arrow.png" alt=""></a></div>
									</div>
									<div class="schedule_text">
										<div class="schedule_text_title">Short Description</div>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravi da. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus co mmodo viverra maecenas accumsan lacus vel facilisis.</p>
									</div>
								</div>

								<!-- Schedule Item -->
								<div class="schedule_item">
									<div class="schedule_title_bar d-flex flex-lg-row flex-column align-items-lg-end justify-content-start">
										<div class="schedule_title_container d-flex flex-row align-items-end justify-content-start">
											<div class="schedule_image"><img src="{% static 'images/schedule_6.jpg' %}" alt=""></div>
											<div class="schedule_content">
												<div class="schedule_time">13:00 AM - 14:00 AM</div>
												<div class="schedule_title">Online Marketing Discussion</div>
												<div class="schedule_info">Host: <a href="#">Michael Smith</a> - Marketing ING CEO</div>
											</div>
										</div>
										<div class="button button_2 ml-lg-auto schedule_button"><a href="#"><span>get tickets</span><img src="images/arrow.png" alt=""></a></div>
									</div>
									<div class="schedule_text">
										<div class="schedule_text_title">Short Description</div>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravi da. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus co mmodo viverra maecenas accumsan lacus vel facilisis.</p>
									</div>
								</div>

							</div>

							<!-- Panel 4 -->
							<div class="tab_panel">
								
								<!-- Schedule Item -->
								<div class="schedule_item">
									<div class="schedule_title_bar d-flex flex-lg-row flex-column align-items-lg-end justify-content-start">
										<div class="schedule_title_container d-flex flex-row align-items-end justify-content-start">
											<div class="schedule_image"><img src="{% static 'images/schedule_1.jpg' %}" alt=""></div>
											<div class="schedule_content">
												<div class="schedule_time">08:00 AM - 09:00 AM</div>
												<div class="schedule_title">Grand Opening</div>
												<div class="schedule_info">Host: <a href="#">Michael Smith</a> - Marketing ING CEO</div>
											</div>
										</div>
										<div class="button button_2 ml-lg-auto schedule_button"><a href="#"><span>get tickets</span><img src="images/arrow.png" alt=""></a></div>
									</div>
									<div class="schedule_text">
										<div class="schedule_text_title">Short Description</div>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravi da. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus co mmodo viverra maecenas accumsan lacus vel facilisis.</p>
									</div>
								</div>

								<!-- Schedule Item -->
								<div class="schedule_item">
									<div class="schedule_title_bar d-flex flex-lg-row flex-column align-items-lg-end justify-content-start">
										<div class="schedule_title_container d-flex flex-row align-items-end justify-content-start">
											<div class="schedule_image"><img src="{% static 'images/schedule_2.jpg' %}" alt=""></div>
											<div class="schedule_content">
												<div class="schedule_time">09:00 AM - 10:00 AM</div>
												<div class="schedule_title">Marketing 101</div>
												<div class="schedule_info">Host: <a href="#">Michael Smith</a> - Marketing ING CEO</div>
											</div>
										</div>
										<div class="button button_2 ml-lg-auto schedule_button"><a href="#"><span>get tickets</span><img src="images/arrow.png" alt=""></a></div>
									</div>
									<div class="schedule_text">
										<div class="schedule_text_title">Short Description</div>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravi da. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus co mmodo viverra maecenas accumsan lacus vel facilisis.</p>
									</div>
								</div>

								<!-- Schedule Item -->
								<div class="schedule_item">
									<div class="schedule_title_bar d-flex flex-lg-row flex-column align-items-lg-end justify-content-start">
										<div class="schedule_title_container d-flex flex-row align-items-end justify-content-start">
											<div class="schedule_image"><img src="{% static 'images/schedule_3.jpg' %}" alt=""></div>
											<div class="schedule_content">
												<div class="schedule_time">10:00 AM - 11:00 AM</div>
												<div class="schedule_title">Big Marketing Strategy</div>
												<div class="schedule_info">Host: <a href="#">Michael Smith</a> - Marketing ING CEO</div>
											</div>
										</div>
										<div class="button button_2 ml-lg-auto schedule_button"><a href="#"><span>get tickets</span><img src="images/arrow.png" alt=""></a></div>
									</div>
									<div class="schedule_text">
										<div class="schedule_text_title">Short Description</div>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravi da. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus co mmodo viverra maecenas accumsan lacus vel facilisis.</p>
									</div>
								</div>

								<!-- Schedule Item -->
								<div class="schedule_item">
									<div class="schedule_title_bar d-flex flex-lg-row flex-column align-items-lg-end justify-content-start">
										<div class="schedule_title_container d-flex flex-row align-items-end justify-content-start">
											<div class="schedule_image"><img src="{% static 'images/schedule_4.jpg' %}" alt=""></div>
											<div class="schedule_content">
												<div class="schedule_time">11:00 AM - 12:00 AM</div>
												<div class="schedule_title">Coffee Break</div>
											</div>
										</div>
										<div class="button button_2 ml-lg-auto schedule_button"><a href="#"><span>get tickets</span><img src="images/arrow.png" alt=""></a></div>
									</div>
									<div class="schedule_text">
										<div class="schedule_text_title">Short Description</div>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravi da. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus co mmodo viverra maecenas accumsan lacus vel facilisis.</p>
									</div>
								</div>

								<!-- Schedule Item -->
								<div class="schedule_item">
									<div class="schedule_title_bar d-flex flex-lg-row flex-column align-items-lg-end justify-content-start">
										<div class="schedule_title_container d-flex flex-row align-items-end justify-content-start">
											<div class="schedule_image"><img src="{% static 'images/schedule_5.jpg' %}" alt=""></div>
											<div class="schedule_content">
												<div class="schedule_time">12:00 AM - 13:00 AM</div>
												<div class="schedule_title">Online Strategy</div>
												<div class="schedule_info">Host: <a href="#">Michael Smith</a> - Marketing ING CEO</div>
											</div>
										</div>
										<div class="button button_2 ml-lg-auto schedule_button"><a href="#"><span>get tickets</span><img src="images/arrow.png" alt=""></a></div>
									</div>
									<div class="schedule_text">
										<div class="schedule_text_title">Short Description</div>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravi da. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus co mmodo viverra maecenas accumsan lacus vel facilisis.</p>
									</div>
								</div>

							</div>

						</div>
						
						<!-- Scroll Up -->
						<div class="scroll_up scroll_link" data-scroll-to=".schedule">up</div>

					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- CTA -->

	<div class="cta">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{% static 'images/cta.jpg' %}" data-speed="0.8"></div>
		<div class="cta_overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="cta_content text-center">
						<div class="cta_title text-center"><h1>Get your tickets now!</h1></div>
						<div class="cta_text text-center">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
						</div>
						<div class="button button_3 cta_button"><a href="#"><span>get tickets<img src="{% static 'images/arrow.png' %}" alt=""></span></a></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Footer -->

	<footer class="footer">
		<div class="footer_container">
			<div class="container">
				<div class="row">

					<!-- Footer About -->
					<div class="col-lg-4 footer_col">

						<!-- Logo -->
						<div class="logo">
							<a href="#">
								<span>conf<span>pro</span></span>
								<span>conference</span>
							</a>
						</div>
						<div class="footer_text">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						</div>
						<div class="social footer_social">
							<ul class="d-flex flex-row align-items-center justify-content-start">
								<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>

					<!-- Newsletter -->
					<div class="col-lg-4 footer_col">
						<div class="footer_column">
							<div class="footer_title">Newsletter</div>
							<form action="#" class="newsletter_form" id="newsletter_form">
								<input type="email" class="newsletter_input" placeholder="Your email address" required="required">
								<button class="newsletter_button"><span>subscribe<img src="{% static 'images/arrow.png' %}" alt=""></span></button>
							</form>
						</div>
					</div>
					
					<!-- Gallery -->
					<div class="col-lg-4 footer_col">
						<div class="footer_column">
							<div class="footer_title">Instagram</div>
							<div class="gallery d-flex flex-row align-items-start justify-content-between flex-wrap">
						
								<!-- Gallery Item -->
								<div class="gallery_item">
									<a class="colorbox" href="{% static 'images/gallery_1_large.jpg' %}"><img src="{% static 'images/gallery_1.jpg' %}" alt=""></a>
								</div>

								<!-- Gallery Item -->
								<div class="gallery_item">
									<a class="colorbox" href="{% static 'images/gallery_2_large.jpg' %}"><img src="{% static 'images/gallery_2.jpg' %}" alt=""></a>
								</div>

								<!-- Gallery Item -->
								<div class="gallery_item">
									<a class="colorbox" href="{% static 'images/gallery_3_large.jpg' %}"><img src="{% static 'images/gallery_3.jpg' %}" alt=""></a>
								</div>

								<!-- Gallery Item -->
								<div class="gallery_item">
									<a class="colorbox" href="{% static 'images/gallery_4_large.jpg' %}"><img src="{% static 'images/gallery_4.jpg' %}" alt=""></a>
								</div>

								<!-- Gallery Item -->
								<div class="gallery_item">
									<a class="colorbox" href="{% static 'images/gallery_5_large.jpg' %}"><img src="{% static 'images/gallery_5.jpg' %}" alt=""></a>
								</div>

								<!-- Gallery Item -->
								<div class="gallery_item">
									<a class="colorbox" href="{% static 'images/gallery_6_large.jpg' %}"><img src="{% static 'images/gallery_6.jpg' %}" alt=""></a>
								</div>

								<!-- Gallery Item -->
								<div class="gallery_item">
									<a class="colorbox" href="{% static 'images/gallery_7_large.jpg' %}"><img src="{% static 'images/gallery_7.jpg' %}" alt=""></a>
								</div>

								<!-- Gallery Item -->
								<div class="gallery_item">
									<a class="colorbox" href="{% static 'images/gallery_8_large.jpg' %}"><img src="{% static 'images/gallery_8.jpg' %}" alt=""></a>
								</div>

							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="footer_bar">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="footer_bar_content d-flex flex-row align-items-center justify-content-start">
							<div class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>

</div>

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'styles/bootstrap-4.1.2/popper.js' %}"></script>
<script src="{% static 'styles/bootstrap-4.1.2/bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/greensock/TweenMax.min.js' %}"></script>
<script src="{% static 'plugins/greensock/TimelineMax.min.js' %}"></script>
<script src="{% static 'plugins/scrollmagic/ScrollMagic.min.js' %}"></script>
<script src="{% static 'plugins/greensock/animation.gsap.min.js' %}"></script>
<script src="{% static 'plugins/greensock/ScrollToPlugin.min.js' %}"></script>
<script src="{% static 'plugins/colorbox/jquery.colorbox-min.js' %}"></script>
<script src="{% static 'plugins/easing/easing.js' %}"></script>
<script src="{% static 'plugins/progressbar/progressbar.min.js' %}"></script>
<script src="{% static 'plugins/parallax-js-master/parallax.min.js' %}"></script>
<script src="{% static 'plugins/scrollTo/jquery.scrollTo.min.js' %}"></script>
<script src="{% static 'js/schedule.js' %}"></script>
</body>
</html>